<h2>Chat</h2>
<hr>
<div class="app-mensajes" id="app-mensajes">


    <div
      class="text-right"
      *ngFor="let chat of _cs.chats"
      [ngClass]="{'text-right': _cs.usuario.uid == chat.uid}">
      <span
        class="badge"
        [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid,
                    'badge-success': _cs.usuario.uid != chat.uid}">

        <img *ngIf='_cs.usuario.uid == chat.uid' class="imageChat" [src]="_cs.usuario.img" alt="">
        {{_cs.usuario.nombre}}
        <img *ngIf='_cs.usuario.uid != chat.uid' class="imageChat" src="./assets/images/businessman.png" alt="">
        </span>
        <p>{{chat.mensaje}}</p>
    </div>

</div>
<input
type="text"
name="mensaje"
[(ngModel)]="mensaje"
class="form-control"
(keyup.enter)="enviarMensaje()"
placeholder="Enviar Mensaje">

<div *ngIf='this.alertSuccess' class="alert alert-success fadeIn" role="alert">
    {{this.alertSuccess}}
</div>
<div *ngIf='this.alertFaild' class="alert alert-success fadeIn" role="alert">
    {{this.alertFaild}}
</div>
